@import 'core/variables';

// npm modules
@import '~flexxed/source/flexxed';

// core styles
@import 'core/reset';
@import 'core/typography';

// elements
@import 'elements/forms';
@import 'elements/buttons';
@import 'elements/alerts';
@import 'elements/tabs';

// component styles
// @TODO load these modularly
@import 'components/header';
@import 'components/footer';
@import 'components/user-select';
@import 'components/message-row';
@import 'components/sign-in-or-up';
@import 'components/dropzone';

* {
	box-sizing: border-box;
}

html {
	font-family: $fonts;
	font-size: 14px;
	color: #333;
}

html, body, #root, .app {
	height: 100%;
}

img {
	max-width: 100%;
}

.app {
	display: flex;
	flex-direction: column;

	main {
		flex: 1;
		height: 100%;
	}
}
