.message {
  // stacked messages
  + .message {
    margin-top: 1.5rem;
    padding-top: 1.5rem;

    border-top: 1px solid map-get($colors, lightgray);
  }

  header {
    position: relative;
    margin-bottom: 1rem;

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: -11px;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: map-get($colors, primary);
      border: 1px solid map-get($colors, primary);
    }
  }

  .message-username {
    font-size: 1rem;
  }

  .message-timestamp {
    color: map-get($colors, mediumgray);
    font-weight: lighter;
  }

  .message-body {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}

.message.message-viewed {
  header:before {
    background: transparent;
  }
}
