.login {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .container {
    margin-top: 2rem;
    width: 100%;
    max-width: 350px;
    border: 1px solid map-get($colors, lightgray);
    padding: 1rem;
  }
}
