.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  font-weight: bold;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: map-get($colors, primary);
  text-decoration: none;
}
