.alert {
  padding: 1rem;
  border-radius: 2px;
  font-weight: normal;
  margin-bottom: 1rem;

  a {
    color: inherit;
  }
}

@each $color, $hex in $colors {
  .alert-#{$color} {
    color: $hex;
    background: mix($hex, white, 25%);
    border: 1px solid mix($hex, white, 30%);
  }
}
