@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return black; // Lighter backgorund, return dark color
  } @else {
    @return white; // Darker background, return light color
  }
}

.btn {
  border-radius: 2px;
  box-shadow: 0 2px 7px rgba(black, 0.17);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  padding: 0.5em 0.75em;
  transition: 250ms;

  &:hover {
    box-shadow: 0 6px 10px rgba(black, 0.36)
  }
}

.btn-sm {
  font-size: 0.85rem;
  padding: 0.25em 0.5em;
}

@each $color, $hex in $colors {
  .btn-#{$color} {
    color: set-text-color($hex);
    background: $hex;
    border: 1px solid $hex;

    &:hover {
      background: darken($hex, 5%);
    }
  }

  .btn-#{$color}-outline {
    color: $hex;
    background: transparent;
    border: 1px solid $hex;
    box-shadow: none;

    &:hover {
      color: darken($hex, 10%);
      border-color: darken($hex, 10%);
      box-shadow: none;
    }
  }
}

[disabled] {
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
  user-select: none;
}
